PORT=3001
BASE_URL=http://localhost:3001
DATABASE_URL=postgresql://postgres:postgres@db:5432/project-inventory
JSONWEBTOKEN_SECRET=jwt_secret
RESEND_API_KEY=resend_api_key

REALTIME_PROVIDER=socketio
PUBLIC_REALTIME_PROVIDER=socketio

EVOLUTION_API_URL=http://evolution-api:8080
AUTHENTICATION_API_KEY=your_secret_api_key

PUBLIC_EVOLUTION_WEBHOOK_TOKEN=webhook_token_secret
PUBLIC_WEBHOOK_URL=http://localhost:3001
PUBLIC_EVOLUTION_WEBHOOK_URL=http://localhost:3001/api/webhook/evolution